<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">


.body{

	font:15px;
	padding:0;
	margin:0;
	background-color: #f4f4f4; 
}

/* Global */
.container{
	width:80;
	margin:auto;
   overflow: hidden;
}

ul{
	margin:0;
	padding:0;

}

.btn{
	height: 38px;
	background:#33EC1E;
	border-radius:5px;
	border:0;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
}



/* header **/
header{
	background: #35424a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
}

header a {
	color: #ffffff;
	text-decoration:none;
	taxt-transfrom: uppercase;
	font-size: 16px;

}

header ul{
	margin:0;
	padding:0;
}

header li{
	font:left;
	display:inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float:left;
}
	
header #branding h1{
	margin: 0;
}

header nav{
	float:right;
	margin-top: 10px;
}

header .highlight, header .current a{

	color:red;
	font-weight:bold;
}

/* Showcase */
#showcase{
	min-height: 400px;
	background:url('../img/game.jpg') no-repeat 0 -400px;
	text-align: center;
	color: white;
	font-family: 'Anton', sans-serif;
}

#showcase h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
	font-family: 'Anton', sans-serif;
}

#showcase p{
	font-size: 20px;
}

.gaming{

	padding:15px;
	color: white;
	background: #35424a;
}
.gaming h1{
	float:left;
}
.gaming form{
	float:right;
	margin-top: 15px;

}

.gaming input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 220px;
	font-family: 'Anton', sans-serif;
}




/* Boxes */
#boxes{
	margin-top:20px;
}

#boxes .box{
	float: left;
	width: 30%;
    text-align:center;
	padding: 10px;
	font-family: 'Anton', sans-serif;
}

#boxes .box img{
	width:90px;
}

/* mash */
#mash{
	margin-top:20px;
}

#mash .read{

	float: left;
	width: 30%;
    text-align:center;
	padding: 50px;
	font-family: 'Anton', sans-serif;

}


/* masud */

#masud{
 margin-top:20px;
}
#masud .blog h1{
     padding:0;
     margin:0;
     color: #FF00CD;
     text-align: center;
     font-family: 'Anton', sans-serif;
}
footer{
	padding: 20px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #35424a;
	text-align: center;
}